TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_ID=
TELEGRAM_WEBHOOK_SECRET=
GITHUB_AUTH_MODE=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY_PATH=
GITHUB_INSTALLATION_ID=
CODEX_AUTH_MODE=
FREE_MODEL_API_KEY=
BACKUP_STORAGE_ACCESS_KEY=
BACKUP_STORAGE_SECRET_KEY=
SECRET_ENCRYPTION_KEY=
ALLOW_PAID_API_FALLBACK=false
TRADINGVIEW_MODE=assisted
